* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ::-webkit-scrollbar {
    display: none;
} */


body {
    background-color: rgb(1 33 105);
    overflow-y: hidden;
    overflow-x: hidden;
}

.contenedor{
    width: 100%;
    height: 100%;
}


.lineah {
    position: absolute;
    top: 34%;
    background-color: rgb(200 16 46);
    height: 32%;
    width: 100%;
    border: 55px solid rgb(255 255 255); 
    z-index: 9;
}

.lineav {
    position: absolute;


    left: 41.5%;
    right: 45%;
    width: 17%;
    height: 100%;

    background-color: rgb(200 16 46);
    z-index: 8;
    border: 55px solid rgb(255 255 255); 
   
    
}

.difu{
    position: absolute;
    background-color: rgb(200, 16, 46);
    

    
    left: 44%;
    right: 46%;
    width: 12%;
    height: 100%;
  
  
    z-index: 900;
}

.difu2{

    position: absolute;
    top: 38%;
    background-color: rgb(200, 16, 46);
    height: 24%;
    width: 100%;
    
    z-index: 1000;

}

.horizontal1 {
    position: absolute;
    background-color: rgb(200 16 46);
    height: 100px;
    width: 70%;
    border: 40px solid rgb(255 255 255);
    margin-left: -90px;
    z-index: 7;
    top: 21%;
    transform: rotate(26deg);
    
    
}

.horizontal2 {
    position: absolute;
    bottom: 19%;
    background-color: rgb(200 16 46);
    height: 100px;
    width: 70%;
  
    border: 40px solid rgb(255 255 255);
    z-index: 6;
    transform: rotate(-27deg);
    margin-left: -110px;
}

.horizontal3 {
    position: absolute;
    background-color: rgb(200 16 46);
    height: 100px;
    width: 70%;
    border: 40px solid rgb(255 255 255);
    z-index: 7;
    top: 21%;
    transform: rotate(-26deg);
    right: -90px;

}

.horizontal4 {
    position: absolute;
    bottom: 21%;
    background-color: rgb(200 16 46);
    height: 100px;
    width: 70%;
    border: 40px solid rgb(255 255 255);
    z-index: 6;
    transform: rotate(28deg);
    right: -90px;
}

img{
    width: 100%;
    height: 750px;
    opacity: 20%;
    z-index: 1;
}